@model RadioModel

<h2>Register your radios</h2>

<div id="success-alert" class="alert alert-success" style="display: none">Radio registered!</div>
<div id="error-alert" class="alert alert-danger" style="display: none">Ups.. something goes wrong while registering radio, make sure that all fields are filed properly</div>

<form method="POST">
    <div class="form-group">
        <label asp-for="Name">Radio name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type">Radio Type</label>

        <select asp-for="Type" class="form-control">
            Choose radio type
            <option value="MobileDevice">Mobile Device</option>
            <option value="CarDevice">Car Device</option>
            <option value="BaseStation">Base Station</option>
        </select>

        <span asp-validation-for="Type"></span>

    </div>

    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="SignalStrength">Signal Strength</label>
        <input asp-for="SignalStrength" class="form-control" />
        <span asp-validation-for="SignalStrength"></span>
    </div>

    <div class="form-group">
        <label asp-for="BatteryLevel">Battery Level</label>
        <input asp-for="BatteryLevel" class="form-control" />
        <span asp-validation-for="BatteryLevel"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mode">Radio Type</label>

        <select asp-for="Mode" class="form-control">
            Choose radio type
            <option value="VoiceCall">Voice Call</option>
            <option value="DataTransit">Data Transit</option>
            <option value="Idle">Idle</option>
        </select>

        <span asp-validation-for="Mode"></span>

    </div>

    <div class="form-group">
        <input type="submit" value="Register" />
    </div>

</form>

<div>
    <input type="button" id="btn view-button" value="View registered radio" />
</div>

<br />

<table style="width: 100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Type</th>
        <th>Signal Strength</th>
        <th>Battery Level</th>
        <th>Mode</th>
    </tr>
    @foreach (var item in ViewBag.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.SerialNumber</td>
            <td>@item.Type</td>
            <td>@item.SignalStrength</td>
            <td>@item.BatteryLevel</td>
            <td>@item.Mode</td>
        </tr>
    }
</table>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/registerNewRadio.js"></script>
}