@model RadioModel

<table style="width: 100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Serial Number</th>
        <th>Type</th>
        <th>Signal Strength</th>
        <th>Battery Level</th>
        <th>Mode</th>
        <th>Unit</th>
    </tr>
    @foreach (var item in ViewBag.Items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.SerialNumber</td>
            <td>@item.Type</td>
            <td>@item.SignalStrength</td>
            <td>@item.BatteryLevel</td>
            <td>@item.Mode</td>
            <td>@item.Unit</td>
            <td>
                <a asp-action="EditRadio" asp-route-id="@item.Id">Edit |</a>
                <a asp-action="Delete" asp-route-id="@item.Id"> Delete</a>
            </td>
        </tr>
    }
</table>
