@using Syncfusion.EJ2;
@using Vue.Net;
@using Vue;
@using VueCliMiddleware;
@model RadioModel

<h2>Register your radios</h2>

<div id="success-alert" class="alert alert-success" style="display: none">Radio registered!</div>
<div id="error-alert" class="alert alert-danger" style="display: none">Ups.. something goes wrong while registering radio, make sure that all fields are filed properly</div>

<form method="POST">
    <div class="form-group">
        <label asp-for="Name">Radio name</label>
        <input asp-for="Name" class="form-control" v-model="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Type">Radio Type</label>

        <select asp-for="Type" class="form-control" v-model="Type">
            Choose radio type
            <option value="MobileDevice">Mobile Device</option>
            <option value="CarDevice">Car Device</option>
            <option value="BaseStation">Base Station</option>
        </select>

        <span asp-validation-for="Type"></span>

    </div>

    <div class="form-group">
        <label asp-for="SerialNumber">Serial Number</label>
        <input asp-for="SerialNumber" class="form-control" v-model="SerialNumber" />
        <span asp-validation-for="SerialNumber"></span>
    </div>

    <div class="form-group">
        <label asp-for="SignalStrength">Signal Strength</label>
        <input asp-for="SignalStrength" class="form-control" v-model="SignalStrencht" />
        <span asp-validation-for="SignalStrength"></span>
    </div>

    <div class="form-group">
        <label asp-for="BatteryLevel">Battery Level</label>
        <input asp-for="BatteryLevel" class="form-control" v-model="BatteryLevel" />
        <span asp-validation-for="BatteryLevel"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mode">Radio Type</label>

        <select asp-for="Mode" class="form-control" v-model="Mode">
            Choose radio type
            <option value="VoiceCall">Voice Call</option>
            <option value="DataTransit">Data Transit</option>
            <option value="Idle">Idle</option>
        </select>

        <span asp-validation-for="Mode"></span>

    </div>

    <div class="form-group">
        <button class="btn btn-primary" id="submit">Register</button>
    </div>

</form>

<div>
    <button class="btn" onclick="window.location.href='./RegisterConfirmation'">View registred radios</button>
</div>

<br />

@*   Open street maps to be added  *@
@*<div id="openstreetMap"></div>

<script>function RadioMap() {
    var mapProp = {
        center: new opensteet.maps.LatLng(50.049683, 19.944544), zoom: 5,
        };
        var map = new openstreet.maps.Map(document.getElementById("openstreetMap"), mapProp);
    }
</script>

<script src="https://www.openstreetmap.org/#map=13/40.6206/22.8749"></script>*@

@*<table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Serial Number</th>
            <th>Type</th>
            <th>Signal Strength</th>
            <th>Battery Level</th>
            <th>Mode</th>
        </tr>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.SerialNumber</td>
                <td>@item.Type</td>
                <td>@item.SignalStrength</td>
                <td>@item.BatteryLevel</td>
                <td>@item.Mode</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </table>*@

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/registerNewRadio.js"></script>
}